a {
  all: unset;
}

a {
  cursor: pointer;
}

li a {
  &:hover {
    font-weight: 900;
    border-bottom: 2px solid $black;
  }
}

:root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: $black;
}

body {
  padding: 0;
  margin: 0;
}

ion-icon {
  font-size: 28px;
}

img {
  width: 100%;
  height: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 40px;
}

.input {
  border: none;
  outline: none;
  font-family: inherit;
  padding: 3px 2px;
}

.button {
  outline: none;
  font-family: inherit;
  border: none;
  background-color: $gray;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.button-2 {
  padding: 8px 13px;
  border-radius: 20px;
  cursor: pointer;

  &:hover {
    background-color: $gray;
  }
}

.breadcrumb {
  display: flex;
  column-gap: 5px;
  color: rgba(0, 0, 0, 0.4);

  span {
    cursor: pointer;
  }

  span:hover {
    color: rgba(0, 0, 0, 0.6);
  }
}

.react-multi-carousel-track {
  column-gap: 20px !important;
}

.header-container[menu-dropdown-show="true"] ~ .main {
  margin-top: $MENU-DROPDOWN-HEIGHT;
}

.main.products,
.main.product,
.main.cart {
  padding: 55px 20px;
}

.active-filter {
}

@media (max-width: $MEDIA-MOBILE) {
  .header-container[menu-dropdown-show="true"] ~ .main {
    margin-top: $MENU-DROPDOWN-MOBILE-HEIGHT;
  }

  .main.products,
  .main.product,
  .main.cart {
    padding: 30px 20px;
  }
}
