.pagination {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;

  &__navigation,
  &__page-number {
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
  }

  &__navigation {
    background-color: $gray;
  }

  &__page-number:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }

  &__page-number {
    &--page-selected {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}

@media (max-width: $MEDIA-MOBILE) {
}
