.select-qnt {
  display: flex;
  align-items: center;
  background-color: $gray;
  width: max-content;
  padding: 5px 10px;
  border-radius: 5px;

  div:nth-child(1) {
    margin-right: 6px;
  }

  div:nth-child(1),
  div:nth-child(3) {
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  div:nth-child(2) {
    padding: 5px 10px;
    background-color: $white;
    border-radius: 5px;
  }

  div:nth-child(3) {
    margin-left: 6px;
  }
}
